__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/
.vscode/
.idea
site/
wandb/
examples/**/data/
misc/
benchmark_results/
benchmark_models/
.mypy_cache/
.ruff_cache/
profiles/
*cache*